$mainColour: #ffb813;
$secondaryColour: black;
$backgroundColour: #f7f7f7;

$darkBlue: darkblue;
$lightBlue: lightblue;
$linkColour: rgb(0, 158, 211);
$linkClickedColor: #7300ff;


$initContentWidth: 992px;
$smallScreenWidth: 768px;

$smallScreenSidePadding: 20px;

$footerHeight: 160px;
$navMenuHeight: 65px;
$mediumScreenWidth: 920px;
$smallScreenNavHeight: $navMenuHeight - 20px;
$mainContentWidthPercent: 70%;
$inputFieldHeight: 40px;