@import "../themeVars.scss";
@import "./button.scss";

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-justify: none;
    .input-field {
      height: $inputFieldHeight;
    }
    .error-hidden {
      display: none;
    }
    .error {
      color: red;
      transition: all 0.2s;
    }
    .form-spinner{
      position: relative;
      bottom: 3px;
      height: 12px;
      width: 12px;
      color: $mainColour !important;
    }
    @include form-btn;
}