@import "../themeVars.scss";

.logo-wrapper{
  left: $smallScreenSidePadding;
  z-index: 3;
  position: relative;
  top: 3px;
  height: 50px;
  width: 300px;
  max-width: 350px !important;

  position: relative;

  @media screen and (max-width: $smallScreenWidth) {
    top: 0px;
    width: 250px;
  }
}